body {
    margin: 0%;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navigation1 {
    background-color: rgb(225, 225, 255);
    width: 100%;
    height: 50px;
}

.navigation2 {
    background: linear-gradient(to right bottom, rgb(80, 80, 255), rgb(184, 184, 255));
    border-radius: 8px;
    width: 90%;
    height: 30px;
    margin: auto;
    margin-top: -25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nv {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.nv2 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-left: 5px;
    margin-right: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.nv3 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 5px;
    margin-right: 7px;
}

.nv1 {
    border: 1px solid black;
    /* margin-left: 50%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.accircle {
    color: white;
    width: 20px;
    display: inline;
}

.material-icons.md-48 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nv:hover {
    color: rgb(228, 228, 255);
}

.nv2:hover {
    color: rgb(228, 228, 255);
}

.nvsrc {
    /* margin-left: 2%;
    padding: 5px 10px; */
    outline: none;
    height: 25px;
    width: 180px;
    border: none;
}

.mddetails {
    /* border: 1px solid black; */
    width: 1200px;
    height: 460px;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mdphoto {
    border-right: 2px solid rgb(163, 163, 163);
    width: 42%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdphoto1 {
    width: 98%;
    height: 78%;
}

.mddetails1 {
    /* border: 1px solid black; */
    width: 50%;
    height: 95%;
}

.mdname {
    /* border: 1px solid black; */
    width: 95%;
    height: auto;
    margin: 20px auto 25px auto;
    font-size: 30px;
    font-weight: bold;
}

.mdsell {
    /* border: 1px solid black; */
    width: 95%;
    height: auto;
    margin: 15px auto;
    font-size: 20px;
}

.mdprice {
    /* border: 1px solid black; */
    width: 95%;
    height: auto;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 25px;
}

.mdprice1 {
    /* border: 1px solid black; */
    width: 95%;
    height: auto;
    margin: 0px auto 10px auto;
    color: rgb(146, 146, 146);
    font-size: 15px;
}

.mdaddcart {
    /* border: 1px solid black; */
    width: 95%;
    height: auto;
    margin: 25px auto;
}

.mdaddcart1 {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: rgb(169, 169, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.mdaddcart1:hover {
    color: rgb(66, 66, 255);
    cursor: pointer;
}

.detailsbox {
    margin: 25px 0px 0px 10px;
    width: 600px;
}

.detailsbox1 {
    margin-top: 5px;
    height: 130px;
    overflow-y: scroll;
}

.mddetailsnav {
    padding: 5px;
    background-color: rgb(152, 152, 255);
}

.mdnav {
    font-size: 20px;
    margin-left: 30px;
    color: white;
    font-weight: bold;
}

.mdnav:hover {
    color: rgb(66, 66, 255);
}

.mdnav1 {
    width: 95%;
    margin: 0px auto 10px auto;
    font-size: 15px;
    color: rgb(146, 146, 146);
}

.mdnav11 {
    width: 95%;
    margin: 0px auto 10px auto;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.mdnav2 {
    font-size: 15px;
    /* font-weight: bold; */
}

.mdnav21 {
    font-size: 15px;
    /* font-weight: bold; */
    font-weight: 600;
}

.mdnav3 {
    font-size: 12px;
}