<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/0399e572c8.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'dcon.css' %}">
    <title>Document</title>
</head>
<body>
<div class="container">
            <div class="navigation1"> </div>
            <div class="navigation2">
            <div class="nvbx1">
                <a href="home" class="nv" >Home</a>
                <a href="" class="nv">Offers</a>
                <a href="" class="nv">Contact us</a>
            </div>
           <div class="nvbx2">
                    {% if user.is_authenticated %}<a class="nv3"> Hello, {{user.first_name}}</a>&nbsp;<a class="nv2" href="/logout">Logout</a>{% else %}
                    <a class="nv2" onclick="login()">
                     Login</a> {% endif %}
                    <input type="search" class="nvsrc" placeholder="Search">
                </div>
            </div>
    <div class="box">
        <div class="box1">
            <div class="docdetails">
                <div class="docname">DR. Octivius &nbsp; <img src="{% static 'star.png' %}" alt="" class="rating"><span class="rating1">4.5/5</span></div>
                <div class="docexc">FAMILY PHYSICIAN | 1 YEARS Experience</div>
                <div class="docdtls">
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-graduate"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Education </span><br>
                            MBBS (General Practitioner)</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Location </span><br>
                            Doctors,Hyderabad</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-md"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Registration Number </span><br>
                            1DSE4G</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-globe"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Languages </span><br>
                            Hindi, Telugu, English</div>
                    </div>
                </div>
                <div class="bookapt">
                    <div class="bookapt1"><a href="doctor"> BOOK APPOINTMENT</a></div>
                </div>
            </div>
            <div class="docimage">
                <div class="docimage1">
                    <img src="{% static 'dc1.jpg' %}" alt="" class="docimage11">
                </div>
                <div class="docvrf"><img src="{% static 'verify.png' %}" alt="" class="docvrf1"></div>
            </div>
            

        </div>
        <div class="box1">
            <div class="docdetails">
                <div class="docname">DR. Octivius</div>
                <div class="docexc">FAMILY PHYSICIAN | 1 YEARS Experience</div>
                <div class="docdtls">
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-graduate"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Education </span><br>
                            MBBS (General Practitioner)</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Location </span><br>
                            Doctors,Hyderabad</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-md"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Registration Number </span><br>
                            1DSE4G</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-globe"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Languages </span><br>
                            Hindi, Telugu, English</div>
                    </div>
                </div>
                <div class="bookapt">
                    <div class="bookapt1"><a href="doctor"> BOOK APPOINTMENT</a></div>
                </div>
            </div>
            <div class="docimage">
                <div class="docimage1">
                    <img src="{% static 'dc2.jpg' %}" alt="" class="docimage11">
                </div>
                <div class="docvrf"><img src="{% static 'verify.png' %}" alt="" class="docvrf1"></div>
            </div>
            

        </div>
        <div class="box1">
            <div class="docdetails">
                <div class="docname">DR. Octivius</div>
                <div class="docexc">FAMILY PHYSICIAN | 1 YEARS Experience</div>
                <div class="docdtls">
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-graduate"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Education </span><br>
                            MBBS (General Practitioner)</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Location </span><br>
                            Doctors,Hyderabad</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-md"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Registration Number </span><br>
                            1DSE4G</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-globe"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Languages </span><br>
                            Hindi, Telugu, English</div>
                    </div>
                </div>
                <div class="bookapt">
                    <div class="bookapt1"><a href="doctor"> BOOK APPOINTMENT</a></div>
                </div>
            </div>
            <div class="docimage">
                <div class="docimage1">
                    <img src="{% static 'dc3.jpg' %}" alt="" class="docimage11">
                </div>
                <div class="docvrf"><img src="{% static 'verify.png' %}" alt="" class="docvrf1"></div>
            </div>
            

        </div>
        <div class="box1">
            <div class="docdetails">
                <div class="docname">DR. Octivius</div>
                <div class="docexc">FAMILY PHYSICIAN | 1 YEARS Experience</div>
                <div class="docdtls">
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-graduate"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Education </span><br>
                            MBBS (General Practitioner)</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Location </span><br>
                            Doctors,Hyderabad</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-md"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Registration Number </span><br>
                            1DSE4G</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-globe"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Languages </span><br>
                            Hindi, Telugu, English</div>
                    </div>
                </div>
                <div class="bookapt">
                    <div class="bookapt1"><a href="doctor"> BOOK APPOINTMENT</a></div>
                </div>
            </div>
            <div class="docimage">
                <div class="docimage1">
                    <img src="{% static 'dc4.jpg' %}" alt="" class="docimage11">
                </div>
                <div class="docvrf"><img src="{% static 'verify.png' %}" alt="" class="docvrf1"></div>
            </div>
            

        </div>
        <div class="box1">
            <div class="docdetails">
                <div class="docname">DR. Octivius</div>
                <div class="docexc">FAMILY PHYSICIAN | 1 YEARS Experience</div>
                <div class="docdtls">
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-graduate"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Education </span><br>
                            MBBS (General Practitioner)</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Location </span><br>
                            Doctors,Hyderabad</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-md"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Registration Number </span><br>
                            1DSE4G</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-globe"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Languages </span><br>
                            Hindi, Telugu, English</div>
                    </div>
                </div>
                <div class="bookapt">
                    <div class="bookapt1"><a href="doctor"> BOOK APPOINTMENT</a></div>
                </div>
            </div>
            <div class="docimage">
                <div class="docimage1">
                    <img src="{% static 'dc5.jpg' %}" alt="" class="docimage11">
                </div>
                <div class="docvrf"><img src="{% static 'verify.png' %}" alt="" class="docvrf1"></div>
            </div>
            

        </div>
        <div class="box1">
            <div class="docdetails">
                <div class="docname">DR. Octivius</div>
                <div class="docexc">FAMILY PHYSICIAN | 1 YEARS Experience</div>
                <div class="docdtls">
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-graduate"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Education </span><br>
                            MBBS (General Practitioner)</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Location </span><br>
                            Doctors,Hyderabad</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-user-md"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Registration Number </span><br>
                            1DSE4G</div>
                    </div>
                    <div class="docdtls1">
                        <div class="docdtls11"><i class="fas fa-globe"></i></div>
                        <div class="docdtls12"><span class="docdtls121"> Languages </span><br>
                            Hindi, Telugu, English</div>
                    </div>
                </div>
                <div class="bookapt">
                    <div class="bookapt1"><a href="doctor"> BOOK APPOINTMENT</a></div>
                </div>
            </div>
            <div class="docimage">
                <div class="docimage1">
                    <img src="{% static 'dc6.jpg' %}" alt="" class="docimage11">
                </div>
                <div class="docvrf"><img src="{% static 'verify.png' %}" alt="" class="docvrf1"></div>
            </div>
            

        </div>
        

    </div>
</div>
</body>
</html>